<div class="nav">
<!-- <div class="container-fluid"> -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <div class="container-fluid">
    <a [routerLink]="['/home']"  class="navbar-brand" href="#" style="color: black;"><img src="https://cdn-icons-png.flaticon.com/512/7780/7780870.png " width="25" height="25" alt="" title="" class="img-small">𝐂𝐎𝐎𝐊𝐌𝐀𝐓𝐄</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/recipe']" ><img src="https://cdn-icons-png.flaticon.com/512/6505/6505855.png" width="25" height="25" alt="Pizza free icon" title="Pizza free icon">RECIPES</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/plan']"><img src="https://cdn-icons-png.flaticon.com/512/3476/3476015.png " width="25" height="25" alt="" title="" class="img-small">MEAL PLAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/timer']"><img src="   https://cdn-icons-png.flaticon.com/512/1687/1687694.png " width="25" height="25" alt="" title="" class="img-small">TIMER</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page"  [routerLink]="['/shopping']"><img src="   https://cdn-icons-png.flaticon.com/512/13141/13141699.png " width="25" height="25" alt="" title="" class="img-small">SHOPPING</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  [routerLink]="['/chat']"><img src="   https://cdn-icons-png.flaticon.com/512/1782/1782357.png " width="25" height="25" alt="" title="" class="img-small">CHAT</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-4" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
     </div>
   </div>
   </nav>
<!-- </div> -->

<div class=" w-100">
  <router-outlet></router-outlet>
</div>
